
@import url(base.css);
/* 导航栏开始 */

.bar{
	width:100%;
	height: 50px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 999;
}
.zhoja{
	width:1190px;
	height: 50px;
	background: #fff;
	margin:0 auto;
}
.bar .zuo{
	width: 190px;
	height: 38px;
	background: #ff9900;
	float: left;
	margin-top: 7px;
}
.bar .logo4{
	float: left;
	height: 40px;
	width: 540px;
	/*background: yellowgreen;*/
	margin-top: 5px;
	margin-left: 190px;
}
.bar ul{
	width: 223px;
	height: 16px;
	/*background: yellow;*/
	float: right;
	margin-top: 19px;
	display: flex;
	justify-content: space-between;
	line-height: 16px;
}
.bar ul li{
	font-size: 14px;
	color: #333;
}
.bar ul li:hover{
	color: #f60;
}
.bar ul li:nth-child(2){
	color: #f60;
}
.bar ul li span{
	font-family: 'iconfont';
	font-size: 14px;
	float: left;
	color: #f60;
}
.bar ul li i{
	font-family: 'iconfont';
	font-size: 8px;
	color: #bbb;
	float: right;
	transition: all 1s;
	line-height: 16px;
}
.bar ul:hover i{
	transform:rotate(-180deg);
}
.daohang{
	width: 100%;
	height:35px;
	background: #f5f5f5;
	border-bottom: 1px solid #eeeeee;
	margin: 0 auto;
	margin-bottom: 10px;
}
.daohang .daochang{
	width: 1190px;
	height: 35px;
	/* background: yellow; */
	margin: 0 auto;
}
.daohang_left{
	width: 228px;
	height: 35px;
/* 	background: pink; */
	margin-left: 9px;
	float: left;
}
.daohang_left .daohang1{
	width: 62px;
	height: 35px;
/* 	background: blue; */
	float: left;
	margin-right: 21px;
	transition: all 0.6s;
}
.daohang1 .waz1{
	transition: all 1s;
}
.daohang1:hover .waz{
	color: #ff6600;
}
.daohang1:hover .waz1{
	transform: rotate(-180deg);
}
.daohang_left .daohang1:last-child{
	margin-right:0;
}
.daohang1 .waz{
	font-size: 12px;
	color: #666666;
	line-height: 35px;
	float: left;
}
@font-face {
  font-family: 'iconfont';  /* project id 494769 */
  src: url('https://at.alicdn.com/t/font_494769_411swr1zux1dcxr.eot');
  src: url('https://at.alicdn.com/t/font_494769_411swr1zux1dcxr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_494769_411swr1zux1dcxr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_494769_411swr1zux1dcxr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_494769_411swr1zux1dcxr.svg#iconfont') format('svg');
}
.daohang1 .waz1{
	font-family: 'iconfont';
	font-size: 8px;
	color: #c0c0ce;
	float: left;
	line-height: 35px;
}
.daohang_right{
	width: 630px;
	height: 100%;
	/* background: pink; */
	float: right;
}
.daohang_right .denlu{
	width: 98px;
	height: 12px;
	display: block;
	/* background: blue; */
	float: left;
	margin-right: 19px;
	margin-top: 12px;
}
.denlu .denlu1{
	font-size: 12px;
	color: #666666;
	float: left;
	margin-right: 14px;
}
.denlu .denlu1:last-child{
	margin-right:0;
}
.denlu .denlu1:hover{
	color: #ff6600;
}

.daohang_right .dindan{
	width: 144px;
	height: 12px;
	/* background: yellow; */
	float: left;
	display: block;
	margin-right: 19px;
	margin-top: 12px;
	transition: all 1s;
}
.dindan .wode{
	width:61px; 
	height: 12px;
	/* background: red; */
	float: left;
	margin-right: 22px;
}
.dindan .wode:last-child{
	margin-right:0;
}
.wode .dindan1{
	font-size:12px; 
	color: #666666;
	float: left;
}
.wode:hover .dindan1{
	color: #ff6600;
}
.wode .dindan2{ 
	width: 8px;
	float: left;
	transition: all 1s;
}
.wode:hover .dindan2 {
	transform:rotate(-180deg);
}
.wode .dindan2{
	font-family: 'iconfont';
	font-size: 6px;
}

.daohang_right .suni{
	width: 48px;
	height: 12px;
	/* background: yellowgreen; */
	display: block;
	float: left;
	margin-right: 14px;
	margin-top: 12px;
	font-size: 12px;
}
.daohang_right .suni:hover{
	color: #ff6600;
}
.daohang_right .che{
	width: 89px;
	height: 12px;
	/* background: blue; */
	display: block;
	float: left;
	margin-right: 14px;
	margin-top: 12px;	
}
.che .che1{
	display: block;
	font-size: 12px;
	font-family: 'iconfont';
	color: #ff6600; 
	text-align: center;
}
.che:hover .che1{
	color: #ff6600;
}
.daohang_right .yifu{
	width: 104px;
	height: 12px;
	/* background: green; */
	float: left;
	display: block;
	margin-right: 19px;
	margin-top: 12px;
}
.yifu .caigou{
	font-size: 12px;
	color: #666666;
	float: left;
	margin-right: 20px;
}
.yifu .caigou:last-child{
	margin-right:0px;
}
.yifu .caigou:hover{
	color: #ff6600;
}
.daohang_right .sousu{
	width: 62px;
	height: 12px;
	/* background: red; */
	display: block;
	float: left;
	margin-top: 12px;
	transition: all 1s;
}
.sousu .sousu1{
	font-size: 12px;
	color: #666666;
	float: left;
}
.sousu .sousu1:hover{
	color: #ff9900;
}
.sousu .sousu2{
	font-size: 12px;
	color: #666666;
	float: left;
	 font-family: 'iconfont'; 
	 transition: all 1s;
}
.sousu:hover .sousu2{
	transform: rotate(-180deg);
}

/* 导航栏结束 */
/* logo开始 */
.logo{
	width: 1190px;
	height: 105px;
	/* background: red; */
	margin-top: 10px;
	margin: 0 auto;
	position: relative;
}
.logo .logo_left{
	width: 900px;
	height: 100%;
	/* background: yellow; */
	float: left;
}
.logo_left .logo1{
	display: block;
	width: 190px;
	height: 90px;
	/* background:blue;  */
	float: left;
}
.logo1 .logo2{
	width: 190px;
	height: 90px;
}
.logo_left .logo3{
	width:160px; 
	height:100px;
	/* background:blue; */
	display: block;
	float: left; 
	margin-left: 20px;
}
.logo3 .nai{
	width: 160px;
	height: 100px;
}
.logo_left .logo4{
	height: 40px;
	width: 540px;
	background: yellowgreen;
	float: left;
	/* margin-top: 20px;
	margin-left: 10px; */
	position: absolute;
	left: 360px;
	top:20px ;
}
.logo4 .sikuai{
	width: 28px;
	height: 36px;
	background: #ffffff;
	float: left;
	border:2px solid #ffaa00;
	border-right: 0px;
}	
.sikuai .shitu{
	font-family: 'iconfont';
	font-size: 12px;	
	color: #cccccc;
	font-style: normal;
	line-height: 36px;
	margin-left: 10px;
}
.logo4 .sikuai1{
	width: 390px;
	height: 36px;
	float: left;
}
.sikuai1 input{
	width: 390px;
	height: 36px;
	float: left;
	border: 2px solid #ffaa00;
	border-left: 0;
	font-size: 12px;
	outline: none;
}
.logo4 .anniu{
	width: 120px;
	height: 40px;
	float: left;
}
.anniu button{
	width: 120px;
	height: 40px;
	background: #ff9900;
	border: none;
	outline: none;
}
.logo4 .kq{
	width: 523px;
	height: 12px;
	/* margin-top: 8px; */
	/* background: red; */
}
.kq .kongqi{
	width: 530px;
	height: 12px;
	/* background: red; */
	display: block;
	float: left;
	margin-top: 8px;
}
.kongqi .qinxin{
	font-size: 12px;
	color: #999999;
	float: left;
	margin-right: 13px;
}
.kongqi .qinxin:hover{
	color: #ff6600;
}
.kongqi .qinxin:last-child{
	margin-right:0;
}
.logo_right{
	width: 80px;
	height: 80px;
	background:yellow;
	float: right; 
}
.logo_right .ew{
	width: 80px;
	height: 80px;
}
/* logo结束 */



/* 商品行开始 */
.yihang{
	width: 1190px;
	height: 38px;
	/* background: red; */
	margin: 0 auto;
	position: relative;
}
.yihang .zuo{
	width: 190px;
	height: 38px;
	/* background: yellow; */
	float: left;
}
.zuo .fenli{
	width: 190px;
	height: 38px;
	background: #ff9900;
	display: block;
}
.fenli .kua{
	font-family: 'iconfont';
	font-size: 12px;
	color: #ffffff;
	float: left;
	margin-left: 9px;
	line-height: 38px;
}
.zuo .sp{
	font-size:  14px;
	color: #ffffff;
	float: left;
	margin-left: 6px;
	line-height: 38px;
}
.yihang .zhong{
	width: 635px;
	height: 38px;
	/* background: yellow; */
	margin-left: 23px;
	float: left;
}
.zhong .juhui{
	width: 635px;
	height: 38px;
	display: block;
}
.juhui .juhui1{
	font-size: 14px;
	color: #333333;
	margin-right: 19px;
	float: left;
	line-height: 38px;
	position: relative;
}
.juhui .juhui1:nth-child(6){
	width: 14px;
	height: 17px;
	background: url('../index.png') no-repeat -345px -213px ;
	position: absolute;
	left:526px;
	bottom: 18px;
}
.juhui .juhui1:hover{
	color: #ff9900;
}
.juhui .juhui1:last-child{
	margin-right:0;
}
.yihang .you{
	width: 170px;
	height: 38px;
	/* background: yellow; */
	float: right;
}
.you .fup{
	width: 170px;
	height: 38px; 
}

/* 商品结束 */
.juhui1 .jingli{
	width:25px; 
	height: 8px;
	background: url('../index.png') no-repeat -37px 0px;
	position: absolute;
	left: 8px;
	top: 28px;
	opacity: 0;
	transition: all 0.5s;
}
.juhui1 .jingli:nth-child(5){
	left: 10px;
}
.juhui1:hover .jingli{
	opacity: 1;
	transform: translateY(-2px);
}




/* banner开始 */
.ban{
	width: 100%;
	height: 440px;
	/* background: yellow; */
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.ban-left{
	width: 100%;
	height: 440px;
	/* background: blue; */
	position: absolute;
	left: -275px;
	top: 0;
}
.ban-left img{
	width: 545px;
	height: 440px;
	display: block;
}
.ban-right{
	width: 100%;
	height: 440px;
	/* background: blue; */
	position: absolute;
	right: -1101px;
	top: 0;
	z-index: 999;
}
.ban-right img{
	width: 545px;
	height: 440px;
	display: block;
	overflow: hidden;
}
.banner{
	width: 1190px;
	height: 440px;
	margin: 0 auto;
	background: #ffffff;
	position: relative;
	overflow: hidden;
}
.fl{
	width: 190px;
	height: 100%;
	background: red;
	float: left;
}
.fl .qbu{
	width: 190px;
	height: 32px;
	background: #252221;
}
.qbu:hover{
	background: #fff;
}
.qbu .bu{
	width: 9px;
	height: 14px;
	float: left;
	margin-top:5px; 
	margin-left: 10px; 
} 
.bu .bud{
	font-family: 'iconfont';
	font-size: 14px;
	color: #fea900;
} 
 .qbu .sj{
	width: 135px;
	height: 100%;
	/* background: #252221; */
	display: block;
	margin-left: 26px;
}
.sj .suma{
	font-size: 12px;
	color: #ffffff;	
	float: left;
	margin-left: 3px;
	line-height: 32px;
}
.qbu:hover .suma{
	color: #333333;
}
.qbu .suma:hover{
	color: #ff9900;
}

.fl .qc{
	width: 190px;
	height: 31px;
	background: #252221;
}
.qc:hover{
	background: #fff;
}
.qc .bc{
	width: 9px;
	height: 14px;
	float: left;
	margin-top:5px; 
	margin-left: 10px; 
} 
.bc .bcd{
	font-family: 'iconfont';
	font-size: 14px;
	color: #fea900;
} 
 .qc .jiaj{
	width: 135px;
	height: 100%;
	/* background: #252221; */
	display: block;
	margin-left: 26px;
}
.jiaj .wanj{
	font-size: 12px;
	color: #ffffff;	
	float: left;
	margin-left: 3px;
	line-height: 31px;
}
 .qc:hover .wanj{
 	color: #333;
 }
  .qc .wanj:hover{
 	color: #ff9900;
 }
.banner1{
	width: 830px;
	height: 440px;
	float: left;
}
.banner1 .lunb{
	width: 830px;
	height: 440px;
}
.lunb li{
	width: 830px;
	height: 440px;
	background: gray;
	position: absolute;
	opacity: 0;
	transition: all 1s;
}
.lunb li.active{
	z-index: 1;
	opacity: 1;
}
.lunb .lun{
	width: 830px;
	height: 440px;
	background: yellowgreen;
	display: block;
}
.lun .ba1{
	width: 830px;
	height: 440px;
}
.xiaodian{
	width: 212px;
	height: 16px;
	/* background:red;  */
	position: absolute;
	left: 489px;
	bottom: 22px;
	z-index: 1;
}
.xiaodian li{
	width: 16px;
	height: 16px;
	background: #f1ccd3;
	float: left;
	margin-right: 12px;
	border-radius: 50%;
}
.xiaodian li.active{
	background:#e38a04;
}
.xiaodian li:hover{
	background: #e38a04;
}
.xiaodian li:last-child{
	margin-right:0;
}
.ban_left{
	width: 30px;
	height: 64px;
	position: absolute;
	left: 190px;
	top: 0;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	background: rgba(0,0,0,0);
    font-size: 22px;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
}
.ban_left:hover{	
	background: rgba(0,0,0,0.6);
}
.ban_right{
	width: 30px;
	height: 64px;
	position: absolute;
	right: 170px;
	top: 0;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	background: rgba(0,0,0,0);
    font-size: 22px;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
    z-index: 999;
}
.ban_right:hover{	
	background: rgba(0,0,0,0.6);
}
.banner .xie{
	width: 150px;
	height: 213px;
	background: #ead5d7;
	position: absolute;
	display: block;
	right:175px ;
	top: 5px;
	z-index: 100;
}
.banner .xie1{
	width: 150px;
	height: 213px;
	background: #ead5d7;
	position: absolute;
	display: block;
	right:175px ;
	bottom: 5px;
	z-index: 100;
}
.qia1{
	width: 98px;
	height: 14px;
	/* background: yellowgreen; */
	margin-left: 19px;
	margin-top: 23px;
	
}
.qia1 .fensi{
	font-size: 14px;
	color: #333333;
	line-height: 14px;
}
.qia2{
	width: 88px;
	height: 12px;
	/* background: blue; */
	margin-left: 19px;
	margin-top: 5px;
	
}
.qia2 .fensi1{
	font-size: 12px;
	color: #666666;
	line-height: 12px;
}
.qia3{
	width: 140px;
	height: 140px;
	/* background: pink; */
	margin: 0 auto;
	margin-top: 10px;
}
.qia3 .poxie{
	width: 140px;
	height: 140px;
}
.xr{
	width: 170px;
	height: 430px;
	/* background: blue; */
	float: left;
	margin-top: 5px;
}
.xr .xr1{
	width: 170px;
	height: 170px;
	background: #ffffff;
	border-bottom: 1px solid #f2f2f2;
	overflow: hidden;
}
.xr1 .hi{
	width: 70px;
	height: 65px;
	background: #fafafa;
	margin: 0 auto;
	margin-top: 6px;
	padding-top: 5px;
	border-radius: 50%;
}
.hi .hb{
	width: 59px;
	height: 59px;
	background: #f2f2f2;
	margin: 0 auto;
	border-radius: 50%;
	text-align: center;
}
.hb .hr{
	 font-family: 'iconfont';
	 font-size: 40px;
	 line-height: 59px;
	 color: #d7d7d7;
}
.xr1 .hi1{
	width: 42px;
	height: 12px;
	/* background: yellowgreen; */
	font-size: 12px;
	color: #333333;
	text-align: center;
	margin-left: 65px;
	margin-top: 2px;
}
.xr1 .hi2{
	width: 150px;
	height: 26px;
	/* background: yellow; */
	margin-top: 11px;
	margin-left: 10px;
}
.hi2 .lu{
	width: 70px;
	height: 26px;
	background: green;
	display: block;
	float: left;
}
.lu .lu1{
	width: 70px;
	height: 26px;
	background: gray;
}
.lu1 button{
	width: 70px;
	height: 26px;
	background: #ff9900;
/* 	outline: none; */
	border: none;

}
.hi2 .lv{
	width: 70px;
	height: 26px;
	display: block;
	float: left;
	margin-left: 10px;
}
.lv button{
	border: none;
	background: #ffffff;
	width: 70px;
	height: 26px;
	border: 1px solid #ff9900;
	color: #ff9900;
}
.lv:hover button{
	background: #ff9900;
	color: #fff;
}
.xr1 .hi3{
	width: 148px;
	height: 14px;
	/* background: black; */
	margin-top: 12px;
	margin-left: 14px;
}
.hi3 .zuan{
	width: 70px;
	height: 14px;
	/* background: yellowgreen; */
	display: block;
	float: left;
	margin-left: 7px;
}
.hi3 .zuan:first-child{
	margin-left:0;
}

.zuan .zuan1{
	font-size: 12px;
	color: #89ecfd;
	font-family: 'iconfont';
	float: left;
}
.hi3 .zuan:last-child .zuan1{
	font-family: 'iconfont'; 
	color: #fb6e52;
}
.zuan .zuan2{
	font-size: 12px;
	color: #333333;
	float: left;
	margin-left: 6px;
}
.zuan .zuan3{
	font-size: 8px;
	color: #333333;
	float: left;
	margin-left: 3px;
}
.xr .xr2{
	width: 170px;
	height: 114px;
	/* background: red; */
}
.xr2 .guan{
	width: 170px;
	height: 114px;
	/* background: green; */
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #f2f2f2;
}
.guan .guan1{
	font-size: 12px;
	color: #ff6600;
	float: left;
	margin-top: 13px;
}
.guan .zhu{
	font-size: 12px;
	color: #333333;
	margin-top: 13px;
}
.guan .zhu:hover{
	color: #ff9900;
}
.xr .xr3{
	width: 170px;
	height: 145px;
	/* background: red; */
}
.xr3 .huafei{
	width: 56px;
	height: 72px;
	/* background: blue; */
	float: left;
	border: 1px solid #f2f2f2;
	border-left: 0;
}
.xr3 .huafei:nth-child(3){
	border-right: 0;
}
.xr3 .huafei:nth-child(6){
	border-right: 0;
}
.huafei .hua{
	width: 56px;
	height: 53px;
	/* background: yellowgreen; */
	display: block;
	padding-top: 19px;
}
.hua .fei{
	font-family: 'iconfont';
	font-size:24px;
	color: #ff9900;
	margin-left: 15px;
}
.hua .fei1{
	font-size: 12px;
	color: #333333;
	text-align: center;
}
.hua:hover .fei1{
	color: #ff9900;
}

/* banner结束 */


/* 家电购开始 */
.quantu{
	width: 1190px;
	height: 350px;
	/* background: #f7003e; */
	margin: 0 auto;
	position: relative;
}
.quantu .quantu1{
	width: 1190px;
	height: 150px;
	display: block;
}
.quantu1 .diangou{
	width: 1190px;
	height: 150px;
	background: #f7003e;
}
.quantu .chat{
	width: 1190px;
	height: 190px;
	background: #f7003e;
	/* position: absolute;
	left: 0px;
	bottom: 0px; */
}
.chat .chat1{
	width: 230px;
	height: 190px;
	background: gray;
	display: block;
	float: left;	
	margin-left: 10px;
}
.chat .chat1:first-child{
	margin-left:0;
}
.chat1 .fiv{
	width: 230px;
	height: 190px;

}
.fiv .santu{
	width: 230px;
	height: 190px;	
}
/* 家电购结束 */

/* 大聚会开始 */
.jui{
	width: 1190px;
	height: 305px;
	background: #f2f2f2;
	margin: 0 auto;
	position: relative;
}
.jui .juj_top{
	width: 100%;
	height: 45px;
	/* background: red; */
}
.juj_top .daol{
	width: 538px;
	height: 45px;
	/* background: blue; */
	float: left;
}
.daol .pian{
	width: 190px;
	height: 34px;
	background: #dd2726;
	padding-top: 11px;
	float: left;
}
.pian .dade{
	font-size: 20px;
	color: #ffffff;
	margin-left: 15px;
	float: left;
}
.pian .dade1{
	font-size: 14px;
	color: #f2f2f2;
	float: left;
	margin-left: 4px;
	margin-top: 3px;
}
.daol .pian1{
	width: 78px;
	height: 14px;
	/* background: gray; */
	float: left;
	margin-top: 14px;
	margin-left: 66px;
}
.daol .pian1:last-child{
	margin-left: 66px;
	width: 128px;
}
.pian1 .jinri{
	font-family: 'iconfont';
	font-size: 14px;
	color: #dd2727;
	float: left;
}
.pian1 .riji{
	font-size: 12px;
	color: #333333;
	float: left;
	margin-left: 9px;
}
.juj_top .daol1{
	width: 115px;
	height: 24px;
	/* background: blue; */
	float: right;
	margin-top: 12px;
}
.daol1 .tuo{
	width: 115px;
	height: 24px;
	background: #db2726;
	display: block;
	/* border-radius: 30%; */
}
.tuo .tuo1{
	font-size:12px; 
	color: #ffffff;
	line-height: 24px;
	margin-left: 15px;
	float: left;
}
.tuo .tuo1:last-child{
	font-size: 12px;
	margin-left: 8px;
}
.juj_bottom{
	width: 1190px;
	height: 260px;
	/* background:blue;  */
}
.juj_bottom .honza{
	width: 994px;
	height: 260px;
	/* background: greenyellow; */
	float: left;
}
.honza .honzao1{
	width: 198px;
	height: 260px;
	/* background: gray; */
	float: left;
	margin-left: 1px;
}
.honza .honzao1:first-child{
	margin-left:0;
}
.honzao1 .dier{
	width: 198px;
	height: 260px;
	background: #ffffff;
	display: block;
	overflow: hidden;
	position: relative;
}
.dier .honp{
	width: 160px;
	height: 160px;
	/* background: red; */
	margin-left: 20px;
	margin-top: 20px;
}
.honp .honp1{
	width: 150px;
	height: 150px;
	transition: 0.5s;
}
.dier:hover .honp1{
	transform:scale(1.1,1.1);
}
.dier .jin{
	width: 162px;
	height: 32px;
	/* background: yellow; */
	margin-left: 18px;
	font-size: 12px;
	color: #474747;
	overflow: hidden;
}
.dier .jin:hover{
	color: #ff6600;
}
.dier .si{
	width: 135px;
	height:16px;
	margin-left: 18px;
	margin-top: 10px;
	line-height: 16px;
}
.si .xs{
	font-family: 'iconfont'; 
	font-size: 10px;
	color: #ff6600;
	float: left;
	
}
.si .xs1{
	font-size: 16px;
	color: #ff6600;
	float: left;
}
.si .xs2{
	font-family: 'iconfont'; 
	font-size: 10px;
	color: #999999;
	text-decoration: line-through;
	float: left;
	margin-left: 4px;
}
.nixia{
	width: 1px;
	height: 140px;
	background: #eee;
	position: absolute;
	top: 60px;
	left: 198px;
	float: left;
	/* margin-left: 198px; */
}
.nixia1{
	width: 1px;
	height: 140px;
	background: #eee;
	position: absolute;
	top: 60px;
	left: 397px;
	float: left;
	/* margin-left: 198px; */
}
.nixia2{
	width: 1px;
	height: 140px;
	background: #eee;
	position: absolute;
	top: 60px;
	left: 596px;
	float: left;
	/* margin-left: 198px; */
}
.nixia3{
	width: 1px;
	height: 140px;
	background: #eee;
	position: absolute;
	top: 60px;
	left: 795px;
	float: left;
	/* margin-left: 198px; */
}

.niao{
	width: 180px;
	height: 240px;
	display: block;
	float: left;
	margin-top: 11px;
	margin-left: 11px;
}
.niao .niao1{
	width: 180px;
	height: 240px;
}

/* 大聚会结束 */

/* 好货开始 */
.haohuo{
	width: 1190px;
	height: 427px;
	background: #f2f2f2;
	margin: 0 auto;
	margin-top: 19px;
	position: relative;
	margin-bottom: 20px;
}
.haohuo .weic{
	width: 390px;
	height: 427px;
	background: yellow;
	float: left;
	margin-left: 10px;
}
.haohuo .weic:first-child{
	margin-left: 0;
}
.weic .weic_top{
	width: 390px;
	height: 45px;
	background: #3b8c94;
}
.p{
	background: #b62323;
}
.weic_top .vc_left{
	font-size: 18px;
	color: #ffffff;
	margin-left: 15px;
	line-height: 45px;
	float: left;
}
.weic_top .vc_right{
	display: block;
	width: 75px;
	height: 12px;
	/* background: green; */
	float: right;
	margin-top: 18px;
	margin-right: 10px;
}
.vc_right .vc_right_ho{
	font-size:12px; 
	color: #ffffff;
	float: left;
	margin-left: 6px;
	line-height: 12px;
}
.vc_right .vc_right_ho:first-child{
	margin-left:0;
}
.vc_right .vc_right_ho:last-child{
	font-size: 10px;
}
.weic .weic_bottom{
	width: 100%;
	height: 382px;
	background: #ffffff;
}
.weic_bottom .disa{
	width: 184px;
	height: 120px;
	background: #ffffff;
	float: left;
	margin-left: 10px;
	border-right: 1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7 ;
}
.weic_bottom .disa:nth-child(2){
	margin-left:0;
	border-right:0;
}
.weic_bottom .disa:nth-child(4){
	margin-left:0;
	border-right:0;
}
.weic_bottom .disa:nth-child(5){
	border-bottom: 0;
}
.weic_bottom .disa:nth-child(6){
	margin-left:0;
	border-right:0;
	border-bottom: 0;
}
.disa .yejin{
	width: 184px;
	height: 120px;
	/* background: blue; */
	/* display: block; */
}
.yejin .weicao{
	width: 64px;
	height: 70px;
	/* background: greenyellow; */
	margin-left: 15px;
	margin-top: 15px;
	overflow: hidden;
	float: left;
}
.weicao .yejin1{
	width: 60px;
	height: 35px;
	/* background: gray; */
	/* margin-top: 19px; */
	float: left;
	
}
.weicao .chao{
	font-size: 12px;
	color: #333333;
}
.weicao .yejin2{
	width: 58px;
	height: 12px;
	/* background: blue; */
	line-height: 12px;
	margin-top: 50px;
}
.yejin2 .suoh{
	font-size: 12px;
	color: #333333;
}
.yejin .yejin3{
	width:90px; 
	height: 90px;
	/* background: yellowgreen; */
	float: left;
	margin-top: 25px;
	margin-left: 10px;
}
.yejin3 .jiu{
	width:90px; 
	height: 90px;
}
.jiu .jiu1{
	width:90px; 
	height: 90px;
	transition: all 1s;
}
.jiu:hover .jiu1{
	transform: scale(1.1, 1.1);
}
.weic .tese{
	width: 390px;
	height: 45px;
	background: #e66a07;
	float: left;
}
.tese .tese1{
	font-size: 18px;
	color: #ffffff;
	margin-left: 15px;
	line-height: 45px;
	float: left;
}
/* .tese .wuj{
	width: 53px;
	height: 53px;
	background: red;
	position: absolute; 
	top: 0px;
	left: 
} */
.tese .wc{
	display: block;
	width:81px;
	height: 12px;
	/* background: green; */
	float: right;
	margin-top: 16px;
	margin-right: 10px;
}
.wc .wc_a{
	font-size: 12px;
	color: #ffffff;
	float: left;
}
.wc .wc_b{
	font-size: 10px;
	color: #ffffff;
	float: left;
}
.tes_bottom{
	width: 390px;
	height: 382px;
	background: #ffffff;
	overflow: hidden;
	position: relative;
}
.jiz{
	width: 184px;
	height: 180px;
	background: #ffffff;
	border-bottom: 1px solid #e7e7e7;
}
.jiz .suisi{
	width: 184px;
	height: 180px;
/* 	background: yellow; */
	display: block;
	padding-top: 17px;
}
.jiz .suisi:nth-child(2){
	margin-top:0;
	border-bottom: none;
}
.suisi .suidi{
	width:90px;
	height: 152px;
	/* background: gray; */
	margin-left: 4px;
	overflow: hidden;
	float: left;
}
.suidi .tuozi{
	width: 58px;
	height: 20px;
	background: #e66a07;
	margin-left: 11px;
	margin-top: 3px;
	border-radius: 10px;
}
.tuozi .tuozi1{
	font-size: 12px;
	color: #ffffff;
	line-height: 20px;
	text-align: center;
}
.suisi .tuozi2{
	width: 61px;
	height: 12px;
	/* background: blue; */
	margin-top: 8px;
	margin-left: 8px;
}
.tuozi2 .tuozi3{
	font-size: 12px;
	color: #19191b;
}
.suisi .shouer{
	width: 62px;
	height: 80px;
	background: greenyellow;
	margin-top: 20px;
	margin-left: 2px;
}
.shouer .luan{
	width: 62px;
	height: 80px;
}
.suisi .zhen{
	width: 90px;
	height: 90px;
	background: yellowgreen;
	float: left;
	margin-top: 63px;
}
.zhen .zhen1{
	width: 90px;
	height: 90px;
}
.saxia{
	width:184px;
	height:361px;
	background: yellow; 
	overflow: hidden;
	border-right: 1px solid #e7e7e7;
	float: left;
	margin-top: 10px;
	margin-left: 6px;
}
.jiz .dapi{
	width: 184px;
	height: 180px;
	background: deeppink;
	display: block;
	float: left;
	/* position: absolute; */
}
.saxia1{
	width: 184px;
	height: 361px;
	background: lightyellow;
	float: left;
	margin-top: 10px;
	overflow: hidden;

}
.saxia1 .dapi{
	width: 184px;
	height:180px; 
	background: #ffffff;
	display: block;
	border-bottom: 1px solid #e7e7e7;
	overflow: hidden;
}
.saxia1 .dapi:last-child{
	border-bottom:0px;
}
.dapi .dapi1{
	width:86px; 
	height: 20px;
	background: #e66a07;
	border-radius: 10px;
	margin-top: 14px;
	margin-left: 8px;
	line-height: 20px;
}
.dapi1 .juxin1{
	font-size: 12px;
	color: #fdffff;
	text-align: center;
}
.dapi .dapi2{
	width: 120px;
	height: 16px;
	line-height: 16px;
	/* background: blue; */
	margin-left: 16px;
	margin-top: 7px;
}
.dapi2 .chume{
	font-size: 12px;
	color: #999999;
}
.dapi .dapi3{
	width: 180px;
	height: 90px;
	background: green;
	margin: 0 auto;
	margin-top: 20px;
}
.dapi3 .chume1{
	width: 90px;
	height: 90px;
	background: yellowgreen;
	float: left;
}
.chume1 .dapi4{
	width: 90px;
	height: 90px;
}
.weic .paiba1{
	width: 390px;
	height: 382px;
	background: #ffffff;
}
.paiba1 .mi{
	width: 123px;
	height: 140px;
	/* background: red; */
	display: block;
	float: left;
	margin-top:50px;
	margin-left: 11px;
	overflow: hidden;
	border-bottom: 1px solid #e7e7e7;
}
.paiba1 .mi:nth-child(2){
	margin-left: 0px;
}
.paiba1 .mi:nth-child(3){
	margin-left: 0px;
}
.paiba1 .mi:nth-of-type(4)~.mi{
	margin-left: 0px;
}
.paiba1 .mi:nth-of-type(3)~.mi{
	border-bottom: none;
}
.mi .mi1{
	width: 80px;
	height: 80px;
	background: yellow;
	margin-left: 12px;
	margin-top: 3px;
	float: left;
}
.mi1 img{
	width: 80px;
	height: 80px;
}
.mi .mi2{
	width: 100px;
	height: 26px;
	font-size: 12px;
	color: #333333;
	margin-left: 12px;
}
.mi .mi3{
	line-height: 12px;
	width: 40px;
	font-size:12px; 
	color: #b62323;
	margin-top: 94px;
	margin-left: 12px;
}

/* 好货结束 */

/* 特卖 */

aside{
	width:1190px; 
	height: 427px;
	background:#f2f2f2 ;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.lghz-list{
	width: 390px;
	height: 427px;
	background: #fff;
	margin-right: 10px;
}
.liugehezi .lghz-list:nth-child(3){
	margin-right: 0;
}
.liugehezi .lghz-list:nth-child(6){
	margin-right: 0;
}
.lghz-list-top{
	width: 390px;
	height: 45px;
	background: #3b8c94;
}
.l-l-t-left{
	width: 75px;
	height: 45px;
	float: left;
	margin-left: 15px;
	line-height: 45px;
	color: #fff;
	font-size: 18px;
}
.l-l-t-right{
	width: 70px;
	height: 45px;
	float: right;
	font-size: 12px;
	color: #fff;
	line-height: 45px;
}
.nd .lghz-list-top{
	background: #e66a07;
}
.rd .lghz-list-top{
	background: #b62323;
}
.fourth .lghz-list-top{
	background: #c43d7e;
}
.fifth .lghz-list-top{
	background: #6d55bd;
}
.sixth .lghz-list-top{
	background: #325bb5;
}
.lghz-list-bot{
	width: 369px;
	height: 362px;
	background: #fff;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}
.st-list{
	width: 184px;
	height: 120px;
	float: left ;
	border-bottom: 1px solid #e7e7e7;
	background: #fff;
	position: relative;
}
.teshu{
	height: 241px;
	border-right: 1px solid #e7e7e7; 
}
.lghz-list-bot .st-list:nth-child(4){
	border-right: 1px solid #e7e7e7; 
}
.teshu-wenzi{
	font-size: 12px;
	color: #333;
	display: block;
	margin-top: 20px;
	margin-left: 17px;
}
.manjian{
	font-size: 10px;
	color: #c43e7e;
	display: block;
	margin-left: 17px;
	margin-top:-16px;
}
.old img{
	height: 160px;
	margin-left: 12px;
}
.adi{
	font-size: 12px;
	color: #333;
	display: block;
	margin-top: 20px;
	margin-left: 17px;
}
.li{
	color: #999999;
}
.xie img{
	height: 85px;
	position: absolute;
	bottom: 0;
	right: 0;
}
/* 特卖结束 */



/* 水果生鲜 */
.twod{
	width: 1190px;
	height: 530px;
	background: yellow;
	margin: 0 auto;
	margin-top: 20px;
}
.twod-left{
	width: 800px;
	height: 530px;
	background: #fff;
	float: left;
}
.t-l-list{
	width: 390px;
	height: 170px;
	background: pink;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;

}
.twod-left .t-l-list:first-child{
	background: #f4c263;
}
.twod-left .t-l-list:nth-child(2){
	background: #386bc6;
}
.twod-left .t-l-list:nth-child(3){
	background: #3bc7a8;
}
.twod-left .t-l-list:nth-child(4){
	background: #dd674c;
}
.twod-left .t-l-list:nth-child(5){
	background: #e871c9;
}
.twod-left .t-l-list:nth-child(6){
	background: #8b5eda;
}
.guang1{
	width: 70px;
	height: 2px;
	margin-top: 43px;
	margin-left: 35px;
	background: url('../img/index.png') no-repeat -102px -245px;
}
.suning{
	width: 141px;
	height: 35px;
	line-height: 35px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	margin-left: 35px;
}
.guang2{
	width: 140px;
	height: 2px;
	margin-left: 35px;
	background: url('../img/index.png') no-repeat -102px -253px;
}
.jian{
	font-size: 14px;
	color: #fff;
	margin-left: 35px;
	margin-top: 8px;
}
.zuoyi img{
	height: 170px;
	position: absolute;
	right: 20px;
	bottom: 0;
	transition: 0.5s;
}
.t-l-list:hover .zuoyi img{
	transform: translateX(-10px);
}
.twod-right{
	width: 390px;
	height: 530px;
	background: red;
	float: left;
}
.twod-right .mei{
	width: 390px;
	height: 272px;
	background: blue;
	display: block;
	position: relative;
	margin-bottom: 5px;
}
.mei .x{
	width:100%; 
	height: 45px;
	background: #3f3435;
	line-height: 45px;
}
.x .x2{
	font-size: 18px;
	color: #ffffff;
	margin-left: 15px;
}
.mei .x1{
	width:100%; 
	height:227px;
	background:gray ;
}
.x1 img{
	width:100%; 
	height:227px;
}
.mei .xi{
	width: 58px;
	height: 17px;
	background: #14100f;
	border-radius: 9px;
	display: flex;
	justify-content: flex-start;
	position: absolute;
	left: 41px;
	top: 65px;
	line-height: 17px;
}
.xi .zon{
	font-family: 'iconfont'; 
	font-size: 12px;
	color: #d69003;
	display: block;
	margin-left: 4px;
}
.xi p{
	font-size: 12px;
	color: #ffffff;
	margin-left: 8px;
}
.mei .bofa{
	width: 49px;
	height: 49px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	border: 1px solid #f8f6f4;
	line-height: 49px;
	text-align: center;
	position: absolute;
	left: 170px;
	top: 125px;
}
.bofa .af{
	font-family: 'iconfont'; 
	font-size: 16px;
	color: #fffffe;
}
.bofa:hover .af{
	color: #ff9900;
}
.bofa:hover {
	border: 1px solid #ff9900;
}
.mei .laixi{
	width: 100%;
	height: 45px;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 0px;
	bottom: 0px;
	display: flex;
	align-items: center;
}
.laixi p{
	font-size: 14px;
	color: #ffffff;
	margin-left: 35px;
}
.twod-right .mei1{
	width: 128px;
	height: 73px;
	background: green;
	float: left;
	display: block;
	position: relative;
}
.twod-right .mei1:nth-of-type(2)~ .mei1{
	margin-left: 3px;
}
.mei1 .nan{
	width: 128px;
	height: 73px;
}
.mei1 .nan1{
	width: 23px;
	height: 23px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	border: 1px solid #f8f6f4;
	line-height: 23px;
	text-align: center;
	position: absolute;
	left: 51px;
	top: 18px;
}
.nan1 .nan2{
	font-family: 'iconfont'; 
	font-size: 10px;
	color: #fffffe;
}
.nan1:hover .nan2{
	color: #ff9900;
}
.nan1:hover{
	border: 1px solid #ff9900;
}
.mei1 .nan3{
	font-size:12px; 
	color: #f7f7f7;
	position: absolute;
	left: 8px;
	bottom: 5px;
}
.twod-right .zhon{
	width: 100%;
	height: 170px;
	background: yellow;
	margin-top: 88px;
	display: flex;
	justify-content: space-between;
}
.zhon .hua{
	width: 190px;
	height: 170px;
	background: blue;
	display: block;
}
.hua .hua1{
	font-size: 20px;
	color: #ffffff;
	margin-top: 18px;
	margin-left: 36px;
}
.hua .hua2{
	font-size: 12px;
	color: #ffffff;
	margin-top: 10px;
	margin-left: 36px;
}
.hua .hua3{
	width: 190px;
	height: 100px;
	display: block;
	margin-bottom: 3px;
	margin-left: 20px;
	transition: all 0.5s;
}
.hua:hover .hua3{
	transform: translateX(-10px);
}





/* 水果生鲜结束 */

/* 数码汽车 */
.jiazhua{
	width: 1190px;
	height: 100px;
	background: yellowgreen;
	margin: 0 auto;
	margin-top: 15px;
}
.jiazhua .zhiyin{
	width: 396px;
	height: 100px;
	background: red;
	display: block;
	float: left;
}
.zhiyin .zhiyin1{
	width: 396px;
	height: 100px;
}

.jiazhua .zhiyin2{
	width: 397px;
	height: 100px;
	background: red;
	display: block;
	float: left;
}
.zhiyin2 .zhiyin3{
	width: 397px;
	height: 100px;
}
/* 开始 */
.xiaji{
	width: 1190px;
	height: 407px;
	background: #efefef;
	margin: 0 auto;
	
}
.xiaji .pidao{
	width: 590px;
	height: 407px;
	background: #eeeeee;
	float: left;
	position: relative;
}
.xiaji .pidao:last-child{
	margin-left: 10px;
}
.pidao .pidao_left{
	width: 190px;
	height: 407px;
	background: blue;
	display: block;
	float: left;
}
.pidao_left .mens2{
	width: 190px;
	height: 407px;
}
.wek{
	width: 190px;
	height: 45px;
	background: #33ae75;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 45px;
}
.wek .wek1{
	font-size: 18px;
	color:#fff;
	margin-left: 15px;
	float: left;
}
.wek .wek2{
	width: 24px;
	height: 24px;
	background: greenyellow;
	float: left;
	margin: 10px 0 10px;
	background: url('../index.png') -232px -209px;
	margin-left: 10px;
}
 .pidao .cover{
	width: 190px;
	height: 90px;
	background: #33AE75;
	display: block;
	position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
.cover .bao{
	font-size: 20px;
	color: #fff;
	margin-left: 14px;
	margin-top: 20px;
}
.cover .bao1{
	font-size: 12px;
	color: #fff;
	margin-left: 14px;
	margin-top: 5px;
}









.xiaji .mens1{
	width: 400px;
	height: 404px;
	background: green;
	float: left;
}
.mens1 .mens1_top{
	width: 400px;
	height: 45px;
	background: #eff7fb;
	overflow: hidden;
}
.mens1_top .xaiji{
	width: 270px;
	height: 24px;
	/* background: yellow; */
	display: block;
	margin-left: 100px;
	margin-top: 12px;
}
.xaiji .danfan{
	font-size: 12px;
	color: #666666;
	margin-left: 14px;
	float: left;
}
.xaiji .danfan:first-child{
	margin-left: 4px;
}

.mens1 .mens1_bottom{
	width: 400px;
	height: 360px;
	background: #eeeeee;
}
.mens1_bottom .juihui{
	width: 199px;
	height: 179px;
	background: #ffffff;
	display: block;
	float: left;
	margin-left: 1px;
	margin-top: 1px;
}
.mens1_bottom .juihui:first-child{
	margin-top: 0px;
}
.mens1_bottom .juihui:nth-child(2){
	margin-top: 0px;
}
.juihui .jiane{
	width: 78px;
	height: 40px;
	background: #ffffff;
	margin-top: 15px;
	margin-left: 61px;
}
.jiane .jiane1{
	font-size: 16px;
	color: #333333;
}
.jiane .jiane2{
	font-size: 12px;
	color: #3299cc;
}
.juihui .yuan{
	width:120px; 
	height: 120px;
	background: yellow;
	margin-left: 41px;
}
.yuan .yuan1{
	width:120px; 
	height: 120px;
	transition: all 1s;
}
.yuan:hover .yuan1{
	transform: scale(1.1, 1.1);
}





.qiqian{
	width: 1190px;
	height: 98px;
	background: #eee;
	margin: 0 auto;
}
.qiqian .qiqian_left{
	width: 590px;
	height: 98px;
	background: #ffffff;
	float: left;
}
.qiqian .qiqian_left:last-child{
	margin-left: 10px;
}
.qiqian_left .buti{
	width: 189px;
	height: 98px;
	background: #ffffff;
	display: block;
	float: left;

}
.buti .tiqian{
	width: 70px;
	height: 44px;
	/* background: gray; */
	margin-left: 12px;
	margin-top: 30px;
	float: left;
}
.tiqian .tiqian1{
	font-size: 12px;
	color: #333333;
}
.tiqian .tiqian2{
	font-size: 12px;
	color: #3299cc;
}
.buti .tiqian3{
	width: 80px;
	height: 80px;
	/* background: black; */
	float: left;
	margin-top: 12px;
	margin-left: 16px;
}
.tiqian3 .pase{
	width: 80px;
	height: 80px;
	transition: all 1s;
}
.tiqian3:hover .pase{
	transform: scale(1.1, 1.1);
}

.qiqian_left .buti1{
	width: 200px;
	height: 98px;
	background: yellow;
	display: block;
	float: left;
	margin-left: 1px;
}
.qiqian_left .buti2{
	width: 199px;
	height: 98px;
	background: yellow;
	display: block;
	float: left;
	margin-left: 1px;
}
.sony{
	width: 1190px;
	height: 50px;
	background: #fefefe;
	margin: 0 auto;
}
.sony .canma{
	width: 590px;
	height: 30px;
	/* background: seagreen; */
	float: left;
	margin-top: 10px;
}
.sony .canma:last-child{
	margin-left: 10px;
}
 .canma .biaq{
	width: 80px;
	height: 30px;
	background: red;
	float: left;
	display: block;
	margin-left: 18px;
}
 .canma .biaq:first-child{
 	margin-left:10px;
 }
 .biaq .canno1{
 	width: 80px;
	height: 30px;
 }
.weic .paiba{
	width: 390px;
	height: 45px;
	background: #b62323;
}

/* 数码汽车结束 */







.boxc1{
	width: 390px;
	height: 427px;
	background: yellow;
	float: left;
	margin-right: 10px;
}
.boxc2{
	width: 390px;
	height:45px;
	background: #3b8c94;
	line-height: 45px;
}
.boxc3{
	height: 45px;
	color: white;
	font-size: 18px;
    float: left;
    margin-left: 14px;
}
.boxc4{
	height: 45px;
	color: white;
	font-size: 11px;
	display: block;
	float: right;
	margin-right: 10px;
}

.boxc .boxc1:last-child{
	margin-right: 0px;
}
.boxc .boxc1:nth-child(2) .boxc2{
	 background:#e66a07;
}
.boxc .boxc1:last-child .boxc2{
	background:#b62323;
}
.boxd{
	width: 1190px;
	height: 427px;
	background: #f2f2f2;
	margin: 0 auto;
}
.boxd .boxc1:last-child{
	margin-right: 0px;
}
.boxd .boxc1:first-child .boxc2{
	 background:#c43d7e;
}
.boxd .boxc1:nth-child(2) .boxc2{
	 background:#6d55bd;
}
.boxd .boxc1:nth-child(3) .boxc2{
	 background:#325bb5;
}
.boxd1{
	width: 390px;
	height: 382px;
	background: white;
	float: left;
	
}
.boxd2{
	width: 195px;
	height: 242px;
/* 	background: green; */
	border-right: 1px solid #ccc;
	border-bottom:  1px solid #ccc;
	position: relative;
	overflow: hidden;
	float: left;
}
.boxd2 img{
	width: 160px;
	height: 160px;
     position: absolute;
     bottom: 0;
     right: 13px;
     
}
.boxd2 .a13{
	font-size: 12px;
	color: #333;
	margin-left: 26px;
	margin-top: 20px;
	display: block;
}
.boxd2 .a14{
	font-size: 11px;
	color: #c43e7e;
	margin-left: 25px;
	margin-top: 10px;
	display: block;
}
.boxd3{
	width: 184px;
	height: 120px;
	background: white;
	border-bottom: 1px solid #ccc;
	float: left;
	margin-top:1px;
	margin-right: 11px;
	position: relative;

}
.boxd3 img{
	height: 90px;
	width: 90px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.a15{
	font-size: 11px;
	color: #333;
	margin-top: 18px;
	margin-left: 15px;
	display: block;
}
.a16{
	font-size: 11px;
	color: #999;
    margin-left: 15px;
    margin-top: 20px;
}
.boxd .boxc1 .boxd1 .boxd3:nth-child(4){
	border-bottom: none;
	border-right: 1px solid #ccc;
	margin-right:0;
	margin-left: 11px;
	margin-top: -1px;
}
.boxd .boxc1 .boxd1 .boxd3:nth-child(5){
	border-bottom: none;
}


.biqi{
	width: 1190px;
	height: 385px;
	margin-top: 20px;
	margin-left: 80px;
	background: #fff;
}
.biqi-z{
	width: 590px;
	height: 385px;
	background: #fff;
	float: left;
}
.biqi-zs{
	width: 590px;
	height: 46px;
	background: #ffaa01;
}
.biqi-y{
	width: 590px;
	height: 385px;
	background: #fff;
	float: left;
	margin-left: 10px;
}
.biqi-zs b{
	font-size: 20px;
	color: #fff;
	line-height: 46px;
	margin-left: 10px;
}
.biqi-zs a{
	display: block;
	float: right;
	font-size: 14px;
	color: #fff;
	line-height: 46px;
	margin-right: 10px;
}
.biqi-zx{
	width: 590px;
	height: 339px;
}
.gui{
	width: 270px;
	height: 145px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.jial{
	font-size: 12px;
	color: #333333;	
	display: block;
}
.jial:hover{
	color: #ff8800;
}
.jial1{
	font-size: 12px;
	color: #fff;
	background: #ff8800;
	padding-left: 2px;
	padding-right: 2px;
	display: block;
	float: left;
	margin-top: 6px;
}
.jial2{
	color: #999999;
	font-size: 12px;
	display: block;
	float: left;
	margin-top: 6px;
	margin-left: 10px;
}
.jial3{
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 15px;
	transition: 0.5s;
	margin-top: 15px;
}
.biqi-zx141{
	margin-right: 0px;
}
.jial3:hover{
	transform: scale(1.1, 1.1);
}
.jial3 img{
	width: 80px;
	height: 80px;
}
.biqi-ys{
	width: 590px;
	height: 46px;
	background: #ffaa01;
}
.biqi-ys b{
	font-size: 20px;
	color: #fff;
	line-height: 46px;
	margin-left: 10px;
}
.biqi-c{
	width: 590px;
	height: 339px;
}
.pig{
	width: 160px;
	height: 275px;
	background: #fff;
	float: left;
	margin-left: 25px;
	margin-top: 30px;
}
.pig1{
	width: 160px;
	height: 160px;

}
.pig1 img{
	width: 160px;
	height: 160px;
}
.pig2{
	margin-top: 19px;
	font-size: 12px;
	color: #333;

}
.pig3{
	width: 160px;
	height: 21px;
	text-align: center;
	line-height: 21px;
	font-size: 12px;
	color: #fff;
	background: #ff9900;
	margin-top: 12px;
}
.pig4{
	font-size: 12px;
	color: #b0b0b0;
	margin-top: 6px;

}
.caini{
	width: 1190px;
	height: 43px;
	background: #FFFFFF;
	margin: 0 auto;
	margin-top: 3px;
	overflow: hidden;
}
.caini .caini1{
	width: 85px;
	height: 20px;
	/* background: blue; */
	margin-top: 13px;
	border-left: 3px solid #fe9901;
}
.caini1 p{
	font-size: 18px;
	color: #333333;
	margin-left: 12px;
	line-height: 18px;
}
.san{
	width: 1190px;
	height: 320px;
	background: red;
	margin: 0 auto;
}
.san .cai{
	width: 236px;
	height: 319px;
	display: block;
	background: #ffffff;
	float: left;
	border: 1px solid #eeeeee;
	border-top: 0px;
	
}
.cai .sixi{
	width: 200px;
	height: 200px;
	background: #ffffff;
	margin: 20px auto 0;
	transition: 2s;
}
.sixi img{
	width: 200px;
	height: 200px;
	display: block;
}
.sixi:hover{
	transform: scale(1.1, 1.1);
}
.cai .sixi1{
	width: 190px;
	height: 58px;
	/* background: greenyellow; */
	margin-top: 17px;
	margin-left: 20px;
}
.sixi1 .waiha{
	width: 24px;
	height: 16px;
	/* background: blue; */
	border: 1px solid #ff9900;
	margin-left: 2px;
	font-size: 12px;
	color: #ff9900;
	float: left;
}
.sixi1 p{
	font-size: 12px;
	color: #333333;
	display: inline;
	line-height: 12px;
}
.sixi1 .zun{
	font-size: 12px;
	color: #ff6600;
	float: left;
}
.zun p{
	font-size: 10px;
	color: #ff6600;
}
.sixi1 .menx{
	width: 48px;
	height: 18px;
	background: #fe9901;
	float: left;
	line-height: 18px;
	margin-left: 10px;
	border-radius: 3px;
	font-size: 12px;
	color: #fff;
	text-align: center;
}
/* 猜你喜欢结束 */
/* 尾 */
.end{
	width: 1190px;
	height:63px; 
	background:#F5F5F5; 
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.end .weba{
	width: 306px;
	height: 14px;
	/* background: blue; */
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.weba .wex{
	width: 80px;
	height: 1px;
	background: #cccccc;
	float: left;
	margin-top: 7px;
}
.weba .wex1{
	font-size: 14px;
	color:#cccccc;
	float: left;
	line-height: 14px;
}


.shouhou{
	width: 100%;
	height: 278px;
	background: #F5F5F5;
	border-top:1px solid #E7E7E7;
}
.shouhou1{
	overflow: hidden;
	margin: 0 auto;
	width: 1190px;
	height: 278px;
}
.shouhou .shouhou-top{
	overflow: hidden;
	height: 73px;
	padding: 12px 0;
	width: 1250px;
	border-bottom: 1px solid #eaeaea;
}
.shouhou-top li{
	width: 250px;
	float: left;
	overflow: hidden;
}
.shouhou-top .tubiao{
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 8px;
	border-radius: 50%;
	overflow: hidden;
}
.shouhou-top .tubiao img{
	display: block;
	width: 48px;
	height: 48px;
}
.shouhou-top .text{
	width: 180px;
	float: left;
	height: 48px;
}
.shouhou-top .text p{
	line-height: 24px;
	width: 100%;
	height: 24px;
	color: #333030;
	font-size: 14px;
}
.shouhou-top .text .name a{
	font-weight: bold;
	color: #333333;
}
.shouhou-top .text .name a:hover{
	color: #f60;
}
.shouhou-bottom{
	float: left;
}
.shouhou-bottom .title{
	width: 100%;
    line-height: 40px;
    font-weight: bold;
    color: #545454;
     height: 35px; 
    font-size: 14px;
    overflow: hidden;
}
.shouhou-bottom li{
	float: left;
	width: 210px;
}
.shouhou-bottom .nr{
	width: 100%;
    line-height: 22px;
    color: #545454;
    font-size: 12px;
    display: block;
}
.shouhou-bottom .nr:hover{
	color: #f60;
}
.shouhou-bottom-right{
	float: left;
    height: 180px;
    width: 90px;
}
.shouhou-bottom-right .title{
	width: 100%;
    line-height: 40px;
    font-weight: bold;
    color: #545454;
     height: 35px; 
    font-size: 14px;
    overflow: hidden;
}
.shouhou-bottom-right a{
	color: #333;
	font-size: 12px;
}
.shouhou-bottom-right a:hover{
	color: #f60;
}


/* 大盒 */
.dahe{
	width: 100%;
	height: auto;
	background: #F5F5F5;
}
.dahe1{
	width: 100%;
	height: auto;
	background: #F5F5F5;
}

.ceda{
	width:70px; 
	height: 319px;
	background: #F8F8F8;
	position: fixed;
	bottom: 0;
	top: 0;
	margin-bottom: auto;
	margin-top: auto;
	z-index: 999;
	left: calc(50% - 666px);
}
.ceda .li1{
	width:45px; 
	height: 37px;
	background: url('../index.png') no-repeat -302px -80px;
	position: absolute;
	left: 13px;
	top: -29px;
}
.ceda ul li{
	width: 68px;
	height: 29px;
	background:#F8F8F8;
	border: 1px solid #E8E8E8;
	border-bottom: none;
	line-height: 29px;
}
.ceda ul li:first-child{
	margin-top: 10px;
}
.ceda ul li.active{
	background: #ff9900;
}
.ceda ul li:last-child{
	border-bottom: 1px solid #E8E8E8;
}
.ceda ul li .celan{
	font-size:12px; 
	color: #333333;
	text-align: center;
	display: block;
}
.ceda ul li:hover{
	background: #ff9900;
}
.ceda ul li:hover .celan{
	color: #fff;
}
.ceda .din{
	width: 68px;
	height: 18px;
	background: #fff;
	border:1px solid #F2F2F2;
	border-top: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.din i{
	font-family: 'iconfont';  
	font-size: 6px;
	color: #333333;
	display: block;
}
.din p{
	font-size: 10px;
	color: #333333;
	margin-left: 2px;
}










/* 尾开始 */
footer{
	width: 100%;
	height: 160px;
	background: #F5F5F5;
	overflow: hidden;
}
footer .one{
	width: 840px;
	height: 21px;
	/* background: greenyellow; */
	margin: 0 auto;
	 display: flex;
	justify-content: space-around; 
}
footer .one:first-child{
	margin-top: 23px;
	
}
footer .one:nth-child(2){
	/* margin-top: 12px; */
	width: 800px;
}
footer .one:nth-child(3){
	/* margin-top: 12px; */
	width: 1001px;
}
footer .one:nth-child(4){
	/* margin-top: 12px; */
	width: 980px;
	display: flex;
	justify-content: center;
}
footer .one:last-child{
	width: 347px;
	/* height: 28px; */
	background: red;
	margin-bottom: 30px;
}
footer .one:last-child img{
	width: 347px;
	height: 28px;
	display: block;
}
.one .gu pre{
	font-size: 12px;
	color: #666666;
}
.one .lianx pre{
	font-size: 12px;
	color: #666666;
}
.one:nth-child(3) p, a{
	font-size: 12px;
	color: #b299b2;
}
.one:nth-child(4) p, a{
	font-size: 12px;
	color: #b299b2;
}
.one:nth-child(4) p{
	margin-left: 2px;
}
.one:nth-child(4) a{
	margin-right: 2px;
}
.one:nth-child(5) p{
	font-size: 12px;
	color: #b299b2;
}



/* 尾 */

.huis{
	width: 100%;
	height: auto;
	background: #f5f5f5;
}